@font-face{
	src: './fonts/AvenirNext/AvenirNextCyr-Regular.ttf';
	font-family: AvenirNext;
	font-weight: 400;
}

@font-face{
	src: './fonts/OpenSans/OpenSans-Bold.ttf';
	font-family: OpenSans;
	font-weight: 700;
}

@font-face{
	src: './fonts/OpenSans/OpenSans-Regular.ttf';
	font-family: OpenSans;
	font-weight: 400;
}

@font-face{
	src: './fonts/OpenSans/OpenSans-Light.ttf';
	font-family: OpenSans;
	font-weight: 100;
}

@font-face{
	src: './fonts/Montserrat/Montserrat-Regular.ttf';
	font-family: Montserrat;
	font-weight: 400;
}

@font-face{
	src: './fonts/ProximaNova/ProximaNova-Semibold/ProximaNova-Semibold.ttf';
	font-family: ProximaNova;
	font-weight: 600;
}

@font-face{
	src: './fonts/ProximaNova/ProximaNova-Reg.otf';
	font-family: ProximaNova;
	font-weight: 400;
}

@font-face{
	src: './fonts/MyriadPro-Regular.ttf';
	font-family: MyriadPro;
	font-weight: 400;
}

.body{
	margin: 0;
}

.header{
	background-image: url('./images/background.jpg');
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
}


.link{
	color: #ffffff;
	font-size: 13px;
	font-family: MyriadPro, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
}

.menu{
	display: flex;
	justify-content: space-between;
	width: 500px;
	list-style: none;
}

.container{
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

.title{
	color: #ffffff;
	font-size: 40px;
	font-family: AvenirNext, sans-serif;
	font-weight: 400;
	text-transform: uppercase;	
	margin-top: 300px;
	margin-left: 60px;
	margin-bottom: 0px;
	
}

.subtitle{
	color: #ffffff; 
	font-size:15px;
	font-family: OpenSans, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	margin-left: 150px;
	margin-top: 0px;
}

.benefits{
	display: flex;
	justify-content: space-between;
	list-style: none;
	color: #ffffff;
	width: 750px;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.main{
	background: #a2ca28;
}

.explore_more{
	color: #ffffff;
	font-size: 14px;
	text-decoration: none;
	font-family: ProximaNova, sans-serif;
	font-weight: 400;
}

.benefits_title{
	font-size: 24px;
	font-family: OpenSans, sans-serif;
	font-weight: 400;
}

.benefits_text{
	font-size: 14px;
	font-family: ProximaNova, sans-serif;
	font-weight: 400;
}

.about{
	display: flex;
	justify-content: space-between;
	width: 750px;
	margin: 0 auto;
	background: #ffffff;
	text-align: center;
}

.about_subtitle{
	font-size: 14px;
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	color: #FD634E;
	text-transform: uppercase;
	margin: 0;
	text-align: center;
}

.about_title{
	font-size: 35px; 
	font-family: OpenSans, sans-serif;
	font-weight: 100;
	color: #a2ca28;
	text-transform: uppercase;
	margin: 0;
	text-align: center;
}

.about_text{
	font-size: 14px;
	font-family: OpenSans, sans-serif;
	font-weight: 400;
}

.read_more{
	color: #a2ca28;
	font-size: 14px;
	font-family: OpenSans, sans-serif;
	font-weight: 400;
}

.icon{
	width: 15px;
}

.image_with_text{
	position: relative;
	width: 500px;
	height: 250px;
}

.image_with_text_1{
	background-image: url("./images/img1.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}

.image_with_text:before{
	content: '';
	display: block;
	background: rgba(0, 0, 0, 0.5);
	width: 500px;
	height: 250px;
	opacity: 0; 
	transition: all 2s;
}

.image_with_text_2{
	background-image: url("./images/img2.jpg");
	background-repeat: no-repeat;
	background-size: contain;
}

.text_hover{
	position: absolute;
	top: 100px;
	left: 150px;
	opacity: 0;
	transition: all 2s;
	text-align: center;
}

.image_with_text:hover .text_hover{
	opacity: 1;
}

.image_with_text:hover:before{
	opacity: 1;
}

.info{
	padding-left: 30px;
	padding-right: 30px;
}

.footer{
	background: #0d1119;
	display: flex;
	justify-content: space-between;
}

.placeholder1{
	font-size:14px;
	font-family: ProximaNova, sans-serif;
	font-weight: 400;
	color: #83969f;
	text-transform: capitalize;
	border: none;
	border-radius: 2px;
	width: 130px;
	height: 40px;
	padding-left: 10px;
}

.placeholder2{
	font-size:14px;
	font-family: ProximaNova, sans-serif;
	font-weight: 400;
	color: #83969f;
	text-transform: capitalize;
	border: none;
	border-radius: 2px;
	width: 150px;
	height: 40px;
	padding-left: 10px;
}

.button{
	font-size: 15px;
	font-family: ProximaNova, sans-serif;
	font-weight: 600;
	color: #ffffff;
	background: #a2ca28;
	text-transform: capitalize;
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-radius: 2px;
	width: 130px;
	height: 40px;
}

.contacts{
	display: flex;
	justify-content: space-between;
	width: 750px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}

.social{
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.social_icon{
	width: 50px;
	height: 50px;  
	display: block;
	border-radius: 50%;
	position: relative;
	margin-right: 10px;
}

.facebook{
	background: #2e3192;
}

.social_icon:before{
	content: '';
	background-size: 20px 20px;
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	top: 15px;
	left: 15px;
}

.facebook:before{
	content: '';
	background-image: url('./images/fb.svg');
}

.twitter{
	background: #00aeef;
}

.twitter:before{
	content: '';
	background-image: url('./images/tw.svg');
}

.youtube{
	background: #ed3123;
}

.youtube:before{
	content: '';
	background-image: url('./images/yt.svg');
}

.linkedin{
	background: #171a8f;
}

.linkedin:before{
	content: '';
	background-image: url('./images/ln.svg');
}
